@{
    ViewData["Title"] = "Login Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center mt-5">
                </div>
                <br />
                <br />
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4 text-center">Inicio de Sesión</h1>
                        <form method="POST" asp-controller="Home" asp-action="Index">

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">Usuario (e-mail)</label>
                                <input id="email" type="email" class="form-control" name="email" required>
                            </div>

                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="password">Contraseña</label>
                                </div>
                                <input id="password" type="password" class="form-control" name="password" required>
                            </div>

                            <div class="text-danger">
                                @Html.ValidationSummary()
                            </div>

                            <div class="align-items-center">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">
                                        Iniciar Sesión
                                    </button>
                                </div>
                                @*<div class="m-1">
                                    <button type="submit" class="btn btn-success">
                                        Registrarse
                                    </button>
                                </div>*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>